<div class="col-md-3 col-xs-6">
	<h3>Search</h3>
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <label class="sr-only" for="searchInput">Search terms</label>
	    <input type="text" class="form-control" id="searchInput" placeholder="Search terms">
	  </div>
	  <button type="submit" class="btn btn-default">Search</button>
	</form>
	<hr>
	<h3>Archive</h3>
	<p><i class="glyphicon glyphicon-calendar"></i> <a href="#">March 2013 (3)</a><p>
	<hr>
	<h3>Categories</h3>
	<p><i class="glyphicon glyphicon-asterisk"></i> <a href="#">Symfony (3)</a><p>
	<hr>
	<h3>Related</h3>
	<p><i class="glyphicon glyphicon-arrow-right"></i> <a href="#">Moving forward</a><p>
	<hr>
	<h3>Links</h3>
	<p><i class="glyphicon glyphicon-star"></i> <a href="#">Personnal site</a><p>
	<p><i class="glyphicon glyphicon-star"></i> <a href="#">Twitter</a><p>
	<p><i class="glyphicon glyphicon-star"></i> <a href="#">Github</a><p>
	<hr>
</div>