<div class="col-md-3 col-xs-6">
	<h3>Search</h3>
	<form class="form-inline" role="form" id="searchform" onsubmit="doSearch();return false;">
	  <div class="form-group">
	    <label class="sr-only" for="searchInput">Search terms</label>
	    <input type="text" autocomplete="off" id="searchbox" class="form-control" id="searchInput" placeholder="Search terms">
	  </div>
	  <button type="submit" id="searchbutton" class="btn btn-default">Search</button>
	</form>
	<div id="searchresults"></div>
	<hr>
	<h3>Older posts</h3>
	{% assign i = 0 %}
	{% for post in site.posts %}
	<p>
		<a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date|date: "%d&nbsp;%b&nbsp;%Y" }}</small>
	</p>
	{% assign i = i|plus:1 %}
		{% if i > 9 %}
			{% break %}
		{% endif %}
	{% endfor %}
	<br>
	<p><a href="/all-posts/">All posts</a>
	<hr>
	{% if site.related_posts|length > 0  %}
		<h3>Related</h3>
		{% for post in site.related_posts %}
			<p><a href="{{ post.url }}">{{ post.title }}</a><p>
		{% endfor %}
		<hr>
	{% endif %}
	<h3>Links</h3>
	<p><a target="_blank" href="https://twitter.com/yannickmahe">Twitter</a><p>
	<p><a target="_blank" href="https://github.com/yannickmahe">Github</a><p>
	<p><a target="_blank" href="http://www.yannickmahe.com/">About me</a><p>
	<hr>
</div>