<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
		<title>{{ page.title }} | {{ site.name }}</title>
	</head>
	<body>
		{% include header.html %}

		<div class="container">	
			<div class="row">

				<div class="col-md-8 col-xs-12 blog-body">
					<div class="page-header">
						<h1>{{ page.title }}</h1>
					</div>

					{{ content }}

					<hr>
					<p>Hi, my name is Yannick Mahe, and I'm the CTO at <a href="http://www.easycreadoc.com/">Alveos</a>. We write software that automates marketing for franchise networks.</p>

					<p>If you've read this far, you may want to follow me on <a href="https://twitter.com/yannickmahe">Twitter</a>.</p>

					<hr>

					  <div id="disqus_thread"></div>
					    <script type="text/javascript">
					        var disqus_shortname = 'yannickmahesblog'; 

					        /* * * DON'T EDIT BELOW THIS LINE * * */
					        (function() {
					            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					        })();
					    </script>
					    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

				</div>
				
				{% include navigation.html %}	
			</div>
		</div>

		
		{% include footer.html %}

	</body>
</html>